*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

:root{
    --txt-color: rgb(0,255,0);
    --border-radius: 18px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

h1{
    margin-bottom: auto;
    margin-top: 36px;
    text-align: center;

}

.intro{
    text-align: center;
    font-size: 2em;
    transform: translate(0%, 50%);
}

.plot{
    visibility: hidden;
    margin: 50px;
}

.one{
    animation-name: disappear;
    animation-duration: 3s;
    animation-delay: 2s;
}
.two{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 6s;
}
.three{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 12s;
}
.four{
    animation-name: disappear;
    animation-duration: 3s;
    animation-delay: 18s;
}
.five{
    animation-name: disappear;
    animation-duration: 4s;
    animation-delay: 22s;
}

@keyframes disappear {
    0% {visibility: visible;}
    100% {visibility: hidden;}
}




.username-container{
    visibility: hidden;
    position: absolute;
    margin-top: 333px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.disclaimer{
    font-size: small;
    margin: 0;
}
#username{
    background-color: rgb(29,29,29);
    width: 30vw;
    padding: 10px;
}
#username:focus{
    outline: none;
}


/* just for now, it'll be unhidden later*/
.container{
    margin-bottom: auto;
    align-self: center;
    visibility: hidden;
    border: 1px solid rgb(107, 107, 107);
    border-radius: var(--border-radius);
    width: 90vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.top-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(42,42,42);
    padding: 10px;
    justify-content: flex-start;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: none;
    border-bottom: 1px solid rgb(16,16,16);
}

.terminal-title{
    align-self: center;
    position:absolute;
}
.terminal-text{
    margin-top: 2px;
}
.mac-ripoff{
    display: flex;
    gap: 8px;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
.red{
    background-color: rgb(255, 94, 86);
}
.yellow{
    background-color: rgb(254, 187, 45);
}
.green{
    background-color: rgb(38, 200, 64);
}

.terminal-container{
    text-indent: 6px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: rgb(29,29,29);
}

#input-text{
    background-color: rgb(29,29,29);
    border: none;
    font-size: medium;
    width: 87vw;
}
#input-text:focus{
    outline: none;
}


footer{
    margin-top: auto;
    background-color: rgb(29,29,29);
    border-top: 1px solid rgb(16,16,16);
    text-align: center;
    padding: 8px 0 8px 0;
}
a{
    text-decoration: none;
}