*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0,255,0);
}

:root{
    --txt-color: rgb(0,255,0);
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1{
    margin: 36px;
}

.intro{
    text-align: center;
    font-size: 2em;
}

.plot{
    visibility: hidden;
}

.one{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 2s;
}
/* animation for all others equals SUM(previous)+1s */
/* remember after animations all done, make some js function to diplay: none the whole intro div*/
.two{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 2s;
}


@keyframes disappear {
    0% {visibility: visible;}
    100% {visibility: hidden;}
}






/* just for now, it'll be unhidden later*/
.container{
    visibility: hidden;
}