*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0,255,0);
}

:root{
    --txt-color: rgb(0,255,0);
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1{
    margin: 36px;
}

.intro{
    text-align: center;
    font-size: 2em;
    transform: translate(0%, 50%);
}

.plot{
    visibility: hidden;
    margin: 50px;
}

.one{
    animation-name: disappear;
    animation-duration: 3s;
    animation-delay: 2s;
}
.two{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 6s;
}
.three{
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 12s;
}
.four{
    animation-name: disappear;
    animation-duration: 3s;
    animation-delay: 18s;
}
.five{
    animation-name: disappear;
    animation-duration: 4s;
    animation-delay: 22s;
}

@keyframes disappear {
    0% {visibility: visible;}
    100% {visibility: hidden;}
}






/* just for now, it'll be unhidden later*/
.container{
    visibility: hidden;
}
